.form-signin {
  width: 100%;
  max-width: 430px;
  font-family: var(--bs-font-sans-serif);
}
#bgImg{
  background-image: url("https://stmedia.stimg.co/ows_ab52ed26-bbbc-4eb2-885f-5a8d103c88f2.jpg?fit=crop&crop=faces");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
